<div class="game">
  <h1>Prisoner's Dilemma</h1>
  <button id="host-game">Host Game</button>
  <button id="join-game">Join Game</button>
  <button id="team-button">t1</button>
  <button id="x" class="selected">X</button>
  <button id="y">Y</button>
  <p id="message-box">Messages go here...</p>
  <p id="time-box">Time Left: 0</p>
  <button id="start-game">Start Game</button>
</div>