<details>
  <summary>Rules</summary>
  <p>
    Over 10 rounds, 2 teams are isolated from each other but fight and work together to win. Each round, both teams need to chose either X or Y. If both chose X, they both get -1 point, if one chooses X and one Y, the team that chose X gets +2 points, the other get -2 points. If both choose Y, both get 1 point. On round 5, 8 and 10, negociators are sent out to meet and plan with the other team's negociator in a designated area. Points are x3 on round 5, x5 on round 8, and are worth x10 on round 10. Team with the most points, after round 10, wins. If either team ends with negative points, everyone loses. Try to successfully work together while backstabbing the other team!
</details>
